<app-loader *ngIf="isLoading">
</app-loader>





<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
  </div>
</ng-template>

<div class="container mt-cl-10" *ngIf="!isLoading">
  <button class="btn btn-primary mt-3" (click)="createEvent()">Create An Event</button>
</div>

<div class="row text-center " *ngIf="!isLoading">
  <div class="col-md-4">
    <div class="btn-group">
        <button class="btn btn-primary" (click)="decrement()" [disabled]="prevBtnDisabled">
            Previous
          </button>
     
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
        Today
      </div>
    
      <button class="btn btn-primary" (click)="increment()" [disabled]="nextBtnDisabled">
          Next
        </button>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" (click)="view = CalendarView.Month" [class.active]="view === CalendarView.Month">
        Month
      </div>
      <div class="btn btn-primary" (click)="view = CalendarView.Week" [class.active]="view === CalendarView.Week">
        Week
      </div>
      <div class="btn btn-primary" (click)="view = CalendarView.Day" [class.active]="view === CalendarView.Day">
        Day
      </div>
    </div>
  </div>
</div>
<br>
<div [ngSwitch]="view" *ngIf="!isLoading">
  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>




<div class="modal fade custom-modal-alert" id="create" *ngIf="eventDetails">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="custom-alert-icon custom-alert-info" style="display: block;"></div>

        <h5>
          {{heading}}
        </h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center" >

        <div class="row">
          <div class="col-md-6">
            <label>Meeting Set By </label>
          </div>
          <div class="col-md-6">
            {{eventDetails.userName}}
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6">
            <label for="ename">Event Name</label>
          </div>
          <div class="col-md-6">
            <input type="text" id="ename" required [(ngModel)]="eventDetails.title">
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6">
            <label for="when">When</label>
          </div>
          <div class="col-md-6">
            <input type="text" id="when" required [(ngModel)]="eventDetails.when">
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6">
            <label for="where">Where</label>
          </div>
          <div class="col-md-6">
            <input type="text" id="where" required [(ngModel)]="eventDetails.where">
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6">
            <label for="epurpose">Purpose</label>
          </div>
          <div class="col-md-6">
            <input type="text" id="epurpose" required [(ngModel)]="eventDetails.purpose">
          </div>
        </div>


        <div class="row mt-3">
          <div class="col-md-6">
            <label>Start Time</label>
          </div>
          <div class="col-md-6">
            <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="eventDetails.startDate" (ngModelChange)="refresh.next()"
              [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i"
              placeholder="Not set">
          </div>
        </div>


        <div class="row mt-3">
          <div class="col-md-6">
            <label>End Time</label>
          </div>
          <div class="col-md-6">
            <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="eventDetails.endDate" (ngModelChange)="refresh.next()"
              [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i"
              placeholder="Not set">
          </div>
        </div>



        <button type="submit" class="btn btn-success mt-4" (click)="submitEvent()">{{actionBtn}}</button>

      </div>
    </div>
  </div>
</div>