

<div class="container">

  <div class="container" *ngIf="!isLoading">
    <div [hidden]="submitted">
      <form (ngSubmit)="onSubmit()" #verifyform="ngForm">
        <div class="form-group">
          <label for="code">Code</label>
          <input type="text" class="form-control" id="code"
                 required
                 [(ngModel)]="verifyCodeDetails.code" name="code"
                 #code="ngModel">
          <div [hidden]="code.valid || code.pristine"
               class="alert alert-danger">
           User Code is required
          </div>
        </div>

        <div class="form-group">
          <label for="changepwd">Change Password</label>
          <input type="password" class="form-control" id="changepwd"
                 required
                 [(ngModel)]="verifyCodeDetails.changePassword" name="changepwd"
                 #changepwd="ngModel">
          <div [hidden]="changepwd.valid || changepwd.pristine"
               class="alert alert-danger">
           Change Password is required
          </div>
        </div>
  
        <button type="submit" class="btn btn-success" [disabled]="!verifyform.form.valid">Verify Code</button>
  
      </form>
    </div>
  </div>

</div>
